<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--  -->
 <!-- <mdl-card class="top-card" mdl-shadow="2">
      <mdl-card-title>
        <h2 mdl-card-title-text>LABELECO</h2>
      </mdl-card-title>
    <mdl-card-actions>
      <img md-card-image src="https://lorempixel.com/1200/300/">
    </mdl-card-actions>
  </mdl-card> -->
<!--  -->
<div class="demo-container" mdl-shadow="2" >
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed >
      <mdl-layout-header style="background: url('https://lorempixel.com/1200/300/') center / cover;">
         <mdl-layout-header-row >
            <mdl-layout-title>LABELECO</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <mdl-textfield type="text" icon="search"></mdl-textfield>
            <mdl-layout-spacer></mdl-layout-spacer>
            
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" >HOME</a>
               <a class="mdl-navigation__link" >PRODUCTS</a>
               <a class="mdl-navigation__link" >CONTACT</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>PROFILE</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" >NAME</a>
            <a class="mdl-navigation__link" >MY CARD</a>
            <a class="mdl-navigation__link" >MASSAGES</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
         <mdl-card class="demo-card-square" mdl-shadow="2">
            <mdl-card-title mdl-card-expand>
              <h2 mdl-card-title-text>Update</h2>
            </mdl-card-title>
            <mdl-card-supporting-text>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
              <button mdl-button mdl-colored mdl-ripple>
                View Updates
              </button>
            </mdl-card-actions>
          </mdl-card>
          <!--End here  -->
      </mdl-layout-content>
   </mdl-layout>
</div>

<!--  -->

  